<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
</head>
<body>

  <header class="site-header">
    <div class="wrapper">
      <a class="site-title" href="/">{{ site.title }}</a>
      <nav class="site-nav">
        <a href="/feed.xml">
          <img class="rss-icon" src="/assets/rssicon.svg" width="14" height="14" alt="RSS">
        </a>
        <a href="/about/">About</a>
      </nav>
    </div>
  </header>

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  <footer class="site-footer">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul>
            <li>{{ site.title }}</li>
          </ul>
        </div>
        <div class="footer-col footer-col-2">
          <ul>
            {% if site.github_username %}<li><a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></li>{% endif %}
            {% if site.twitter_username %}<li><a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></li>{% endif %}
          </ul>
        </div>
        <div class="footer-col footer-col-3">
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>